body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: hsl(217, 54%, 11%)
}

.card {
    margin: 200px auto;
    max-width: 300px;
    padding: 16px 16px 24px 16px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    color: rgba(155, 177, 224, 0.753);

    h2 {
        margin: 16px 0;
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        &:hover{
            color: $color;
        }
    }

    img {
        max-width: 100%;
        border-radius: 10px;
    }

    .par {
        margin-top: 16px;
        margin-bottom: 16px;
    }


    .line {
        display: flex;
        justify-content: space-between;

        .baseline {
            display: flex;
            align-items: center;

            p {
                margin-left: 8px;
            }

            .money {
                color: $color;
            }
        }
    }

    hr {
        margin-top: 16px;
        background-color: rgba(115, 126, 148, 0.753);
        border: none;
        height: 0.1px;
    }

    .creater {
        display: flex;
        align-items: center;
        margin: 16px 0;

        img {
            max-width: 10%;
            margin-right: 16px;
        }

        a{
            color:rgba(155, 177, 224, 0.753);
            &:hover{
                color: $color;
            }
        }
    }
}